#----------------------------
#----------SERVIDOR----------
#----------------------------

PORT=3000
SESSION_SECRET=tu_session_secret_aqui

#--------------------------------------
#----------SESSION Nodemailer----------
#--------------------------------------

EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion_aqui

#---------------------------------
#----------SESSION MySQL----------
#---------------------------------

DB_HOST_MYSQL=localhost
DB_USER_MYSQL=root
DB_PASSWORD_MYSQL=tu_contraseña_mysql
DB_NAME_MYSQL=museodb

#-----------------------------------
#----------SESSION MongoDB----------
#-----------------------------------

MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.xxxxxx.mongodb.net/<nombre_bd>?retryWrites=true&w=majority
MONGO_URI_FALLBACK=mongodb://<usuario>:<contraseña>@ac-xxxxxx-shard-00-00.xxxxxx.mongodb.net:27017,ac-xxxxxx-shard-00-01.xxxxxx.mongodb.net:27017,ac-xxxxxx-shard-00-02.xxxxxx.mongodb.net:27017/<nombre_bd>?ssl=true&replicaSet=atlas-shard-0&authSource=admin&retryWrites=true&w=majority

#--------------------------------------
#----------SESSION Cassandra-----------
#--------------------------------------

CASSANDRA_SECURE_BUNDLE_PATH=./secure-connect-museo-db.zip
CASSANDRA_CLIENT_ID=mZFODzjrkaYEGQLMfzWcLCys
CASSANDRA_CLIENT_SECRET=l.9K83AhOuBZORvFvwRHpEJ4AAeOIXR5KZ.SGGXubCvOj5sqGwYw35u-.f_llp0Oz9Tn-vEevjoMk8Xw54BL,2FwgTBEwoP5uEtwlOKJQrQc3UJUCsZm._f6QyuRyXzM
CASSANDRA_KEYSPACE=museo_db