<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activación Pendiente | System</title>
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/styles/pending-activation-style.css">
</head>
<body>
    <div class="login-container">
        <div class="activation-content">
            <div class="icon-box">✉️</div>
            <h2>Cuenta Pendiente</h2>
            <p class="main-msg">Tu cuenta aún no está activa.</p>
            
            <div class="info-alert">
                <p>Se ha enviado un <strong>código de autentcacion</strong> a tu correo electrónico.</p>
            </div>

            <p class="spam-notice">Si no lo encuentras, revisa tu carpeta de <b>Spam</b>.</p>
            
            <a href="/public/home.html" class="login-btn">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>